<!-- app/templates/home/dashboard.html -->

{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <iframe src="https://app.metrics.trailmapper.io/dashboards/921472/5e6f15030a8b7100392455890435" style="border:0px #ffffff none;" name="Messner Digital Metrics " scrolling="no" frameborder="1" marginheight="0px" marginwidth="0px" height="1000px" width="1200px" allowfullscreen></iframe>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}