<!-- app/templates/home/dashboard.html -->

{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <iframe src="https://app.metrics.trailmapper.io/dashboards/931043/5e94de42a5b66100111944763157" style="border:3px #ffffff hidden;" name="Trailmapper-Columns-Hwang4CT-1" scrolling="yes" frameborder="1" marginheight="0px" marginwidth="0px" height="1000px" width="1200px" allowfullscreen></iframe>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}