<!-- app/templates/home/dashboard.html -->

{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <iframe src="https://trailmapper.dev/dashboard?menu=lists&board=Trailmapper Demo" style="border:0px #ffffff none;" name="Trailmapper_Task_Manager" scrolling="no" frameborder="1" marginheight="0px" marginwidth="0px" height="1000px" width="1200px"allowfullscreen></iframe>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}